.main {
    @include mainContainer('../../assets/background-services.jpg', $mainFontColor);
    overflow-x: hidden;

    &__nav {
        @include navContainer($navItemHover);

    }

    &__services {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }
}

.main__nav {
    h1 {
        @include navContainerLogo($mainFontColor);
    }

    .nav__toggle--label {
        @include navContainerLabel($mainFontColor);
    }

    input {
        @include navContainerInput;
    }

    .nav__toggle--ul {
        @include navContainerToggle($navItemHover, $mainFontColor);
        position: fixed;
    }

    .nav__standard {
        @include navContainerStandard($navItemHover, $mainFontColor);
    }
}

.main__services {
    display: grid;
    grid-auto-flow: row;

    @media only screen and (max-width: 968px) {
        grid-row-gap: 15px;
        margin-bottom: 15px;
    }

    .services__text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
    }

    .services__container {
        display: grid;
        grid-auto-flow: column;
        grid-column-gap: 15px;
        grid-template-columns: repeat(4, 3fr);
        grid-template-rows: min-content;

        @media only screen and (max-width: 968px) {
            grid-auto-flow: row;
            grid-template-columns: repeat(2, 5fr);
            grid-row-gap: 15px;
        }

        @media only screen and (max-width: 576px) {
            grid-auto-flow: row;
            grid-template-columns: repeat(1, 10fr);
            grid-row-gap: 15px;
        }
    }
}

.services__text {

    &>h2,
    &>p {
        text-align: center;
    }

    h2 {
        font-family: $fontMainBanner;
        font-size: $mainBannerFontSize;
        margin: 10px 0px;
        text-transform: uppercase;

        @media only screen and (max-width: 800px) {
            margin-top: 60px;
            margin-bottom: 10px;
        }
    }

    & p:nth-child(2) {
        font-size: $mediumTextSize;
        text-transform: uppercase;
        margin: 10px 0px;

        span {
            color: $textLobortis;
        }
    }

    & p:nth-child(3) {
        width: 90%;
        font-size: $smallTextSize;
        line-height: 20px;
    }
}

.service__container {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 134px min-content min-content;
    background: $serviceBg;
    padding-bottom: 30px;
    cursor: pointer;
    transition: all 1s;

    &:hover {
        transform: scale(1.2);
        transition: transform 1s;
    }

    .service__logo {

        &--research,
        &--design,
        &--development,
        &--lunch {
            align-self: center;
            justify-self: center;
            transform: scale(0.6);
        }

        &--research {
            @include lightball;
        }

        &--design {
            @include wand;
        }

        &--development {
            @include giars;
        }

        &--lunch {
            @include rocket;
        }
    }

    &>span {
        justify-self: center;
        text-align: center;
        text-transform: uppercase;
        font-size: 25px;
        margin-bottom: 25px;
    }

    &>p {
        justify-self: center;
        text-align: center;
        font-size: 12px;
        width: 80%;
    }
}

@include hamburgerToCross(line-bottom, 45deg);
@include hamburgerToCross(line-top, -45deg);