@mixin iconSize {
    height: 140px;
    width: 140px;
}

@mixin lightball {
    @include iconSize;
    background: url('../../assets/icons-services.png') -170px -10px;
}

@mixin giars {
    @include iconSize;
    background: url('../../assets/icons-services.png') -10px -10px;
}

@mixin rocket {
    @include iconSize;
    background: url('../../assets/icons-services.png') -10px -170px;
}

@mixin wand {
    @include iconSize;
    background: url('../../assets/icons-services.png') -170px -170px;
}