$navItemActive: #82c8bd;
$inputFontColor: #82c8bd;
$textareaFontColor: #82c8bd;
$buttonBackgroundColor: #df5c64;
$socialIcons: #82c8bd;
$iconFacebookHover: #4f689e;
$iconTwitterHover: #74c7d5;
$iconGoogleHover: #df5c64;
$iconLinkedinHover: #3e61af;