$navItemHover: #82c8bd;
$fontAddressHeader: 'Myriad Pro',
sans-serif;
$fontFormHeader: 'Myriad Pro',
sans-serif;
$inputBg: rgba(0, 0, 0, 0.2);
$inputBgFocus: #ffffff;
$textareaBg: rgba(0, 0, 0, 0.2);
$textareaBgFocus: #ffffff;
$inputFontColor: #82c8bd;
$textareaFont: 'Arial';
$textareaFontColor: #82c8bd;
$buttonBg: #df5c64;
$buttonBoxShadowColor: #c45158;
$footerBg: rgba(0, 0, 0, 0.2);
$socialIconsBg: #82c8bd;
$iconFacebookHover: #4f689e;
$iconTwitterHover: #74c7d5;
$iconGoogleHover: #df5c64;
$iconLinkedinHover: #3e61af;