@keyframes wavingLogo {
    0% {
        transform: rotateZ(0deg);
    }

    33% {
        transform: rotateZ(40deg);
    }

    66% {
        transform: rotateZ(-40deg);
    }

    100% {
        transform: rotateZ(0deg);
    }
}