$mainFontColor: #ffffff;
$mainFont : 'Lato',
sans-serif;
$fontNavStandardSize: 18px;
$fontNavToggleSize: 36px;
$fontNavToggleSmallerSize: 30px;
$fontMainBanner: 'Myriad Pro',
sans-serif;
$mainBannerFontSize: 48px;
$mediumTextSize: 16px;
$smallTextSize: 12px;