$navItemActive: #91778e;
$memberContainerColor: rgba(92, 75, 89, 0.5);
$bannerWithArrow: #a1ca6c;
$memberPositionColor: #a1ca6c;
$memberPositionColorHover: #da796a;
$socialIcons: #91778e;
$iconFacebookHover: #4f689e;
$iconTwitterHover: #74c7d5;
$iconGoogleHover: #df5c64;
$iconLinkedinHover: #3e61af;