.main {
    @include mainContainer('../../assets/background-about.jpg', $mainFontColor);
    overflow-x: hidden;

    &__nav {
        @include navContainer($navItemHover);

    }

    &__about {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }
}

.main__nav {
    h1 {
        @include navContainerLogo($mainFontColor);
    }

    .nav__toggle--label {
        @include navContainerLabel($mainFontColor);
    }

    input {
        @include navContainerInput;
    }

    .nav__toggle--ul {
        @include navContainerToggle($navItemHover, $mainFontColor);
        position: fixed;
    }

    .nav__standard {
        @include navContainerStandard($navItemHover, $mainFontColor);
    }
}

.main__about {
    display: grid;
    grid-auto-flow: row;

    @media only screen and (max-width: 968px) {
        grid-row-gap: 15px;
        margin-bottom: 15px;
    }

    .about__text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
    }

    .about__members {
        display: grid;
        grid-auto-flow: column;
        grid-column-gap: 15px;
        grid-template-columns: repeat(4, 3fr);
        grid-template-rows: min-content;

        @media only screen and (max-width: 968px) {
            grid-auto-flow: row;
            grid-template-columns: repeat(2, 5fr);
            grid-row-gap: 15px;
        }

        @media only screen and (max-width: 576px) {
            grid-auto-flow: row;
            grid-template-columns: repeat(1, 10fr);
            grid-row-gap: 15px;
        }
    }
}

.about__text {

    &>h2,
    &>p {
        text-align: center;
    }

    h2 {
        font-family: $fontMainBanner;
        font-size: $mainBannerFontSize;
        margin: 10px 0px;
        text-transform: uppercase;

        @media only screen and (max-width: 800px) {
            margin-top: 60px;
            margin-bottom: 10px;
        }
    }

    &>p:nth-child(2) {
        width: 90%;
        font-size: $smallTextSize;
        line-height: 20px;
    }

    .about__arrow--down {
        background: $bannerWithArrowBg;
        margin: 10px 0px;
        padding: 10px;
        border-radius: 4px;
        position: relative;
    }

    .about__arrow--down::after {
        content: '';
        position: absolute;
        z-index: -1;
        width: 15px;
        height: 15px;
        bottom: -7.5px;
        left: 50%;
        margin-left: -7.5px;
        transform: rotate(45deg);
        transform-origin: center center;
        background: $bannerWithArrowBg;
    }
}

.member__container {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 134px min-content min-content;
    background: $memberContainerBg;
    padding-bottom: 30px;
    cursor: pointer;
    transition: all 1s;

    &:hover {
        transform: scale(1.2);
        transition: transform 1s;
    }

    &:hover>.member__shape {
        @include memberIconHover;
    }

    &:hover>p {
        color: $memberPositionHover;
        transition: all 0.5s;
    }

    &:hover .icons__container>.icon__social--facebook {
        background: $iconFacebookHover;
        transition: all 0.5s;
    }

    &:hover .icons__container>.icon__social--twitter {
        background: $iconTwitterHover;
        transition: all 0.5s;
    }

    &:hover .icons__container>.icon__social--google {
        background: $iconGoogleHover;
        transition: all 0.5s;
    }

    &:hover .icons__container>.icon__social--linkedin {
        background: $iconLinkedinHover;
        transition: all 0.5s;
    }

    .member__shape {
        align-self: center;
        justify-self: center;
        transform: scale(0.5);
        @include memberIcon;
    }

    &>span {
        justify-self: center;
        text-align: center;
        text-transform: uppercase;
        font-size: 25px;
        margin-bottom: 10px;
        font-weight: bold;
    }

    &>p {
        justify-self: center;
        text-align: center;
        font-size: $smallTextSize;
        color: $memberPositionBg;
        width: 80%;
        transition: all 0.5s;
        margin-bottom: 25px;
    }

    .icons__container {
        justify-self: center;
        display: grid;
        grid-template-columns: repeat(4, 30px);
        grid-template-rows: minmax(30px, auto);
        grid-column-gap: 15px;
    }
}

.icons__container {
    .icon__social {

        &--facebook,
        &--twitter,
        &--google,
        &--linkedin {
            min-height: 30px;
            min-width: 30px;
            background: $socialIconsBg;
            position: relative;
            border-radius: 50%;
            transition: all 0.5s;
        }

        &--facebook::before,
        &--twitter::before,
        &--google::before,
        &--linkedin::before {
            @include iconsBefore;
            @include facebookBefore
        }

        &--twitter::before {
            @include twitterBefore;
        }

        &--google::before {
            @include googleBefore;
        }

        &--linkedin::before {
            @include linkedinBefore;
        }
    }
}

@include hamburgerToCross(line-bottom, 45deg);
@include hamburgerToCross(line-top, -45deg);