$navItemHover: #91778e;
$memberContainerBg: rgba(92, 75, 89, 0.5);
$bannerWithArrowBg: #a1ca6c;
$memberPositionBg: #a1ca6c;
$memberPositionHover: #da796a;
$socialIconsBg: #91778e;
$iconFacebookHover: #4f689e;
$iconTwitterHover: #74c7d5;
$iconGoogleHover: #df5c64;
$iconLinkedinHover: #3e61af;